<launch>

  <arg name="save_directory" default="$(env HOME)/datasets/processed"/>
  <arg name="max_cloud_size" default="1000000"/>
  <arg name="future_slider" default="0.2"/>
  <arg name="depth_rescale" default="0.5"/>

  <rosparam command="load" file="$(find lidar2depth)/config/r3live_ig3_config.yaml" />

  <node name="bag2depth" pkg="lidar2depth" type="bag2depth" output="screen">
    <param name="scans_dir" value="$(arg save_directory)/scans"/>    
    <param name="max_cloud_size" value="$(arg max_cloud_size)"/>
    <param name="future_slider" value="$(arg future_slider)"/>
    <param name="depth_rescale" value="$(arg depth_rescale)"/>    
    <param name="depth_dir" value="$(arg save_directory)/images/depth" />
  </node>

  <node name="lidar_timestamps_publisher" pkg="lidar2depth" type="timestamps_publisher.py" output="screen">
    <param name="timestamps" value="$(arg save_directory)/scans/timestamps.txt"/>
  </node>  

  <node name="poses_publisher" pkg="lidar2depth" type="poses_publisher.py" output="screen">
    <param name="poses" value="$(arg save_directory)/images/poses.csv"/>
    <param name="timestamps" value="$(arg save_directory)/images/timestamps.txt"/>
  </node>  

</launch>