<launch>
  <node name="lidar2depth" pkg="lidar2depth" type="lidar2depth" output="screen">
    <remap from="lidar" to="cloud_registered"/>
    <remap from="depth" to="livox/depth"/>
    <param name="max_cloud_size" value="500000"/>
    <param name="map_frame" value="world"/>
    <param name="lidar_frame" value="world"/>
    <param name="camera_frame" value="camera_odom"/>
    <param name="camera_intrinsics" value="$(find lidar2depth)/config/camera.yml"/>
    <param name="filter_kernel" value="3"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="frame_rate" value="10"/>
  </node>
</launch>
